 :root {
    --black-main: #212121;
    --second-black: #000000;
    --main-blue: #2196F3;
    --background-grey: #2F303A;
    --main-white: #FFFFFF;
    --second-white: #F5F4FA;
    --main-silver: #757575;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: var(--main-black);
  }

.mail-underline{ 
font-family: var(--font-family);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--main-blue)
}

.section-header {
    background: var(--background-grey);    
    }

.index-header{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--main-white);
}

.index-button {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color:  var(--main-white);  
    background: #2196f3;
    coursor: pointer;
}
.index-button:hoover {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color:  var(--main-white);  
    background: #2196f3;
}
.text-block-header {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--black-main);
}
.text-block {
    font-family: var(--font-family);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-silver);
}

.text-pictures-header1{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--black-main);
}
.text-pictures-header2{
font-family: var(--font-family);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: var(--black-main);
}
.team-names{
font-family: var(--font-family);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
color: var(--black-main);
}
.team-positions {
font-family: var(--font-family);
font-style: normal;
font-size: 16px;
line-height: 1.19;
color: var(--main-silver);
}


/* stylowanie Portfolio.html */
body {
    font-family: "Roboto", sans-serif;
    list-style-type: none;
  }
  
.bullets {
     list-style: none;
     }
.underline {
    text-decoration: none;
}

.logo1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-blue);
    text-decoration: none;
 }
 .logo2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--second-black);
    text-decoration: none;
 }
 .text-agencja-underline {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--black-main);}

.text-portfolio-underline {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-blue);
 }
 .text-kontakty-underline {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--black-main);
 }
.phone-underline{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-silver);

 }
.mail-underline{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-silver);
}

.button-all{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color:  var(--main-white);
    background-color: var(--main-blue);
    border-color: var(--main-blue);
    coursor: pointer;
    
 }
.button-all:hover 
.button-all:focus{
    border: solid;
    border-color: var(--main-blue);
}
.button {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: var(--second-white);
    coursor: pointer;
    }
.button:hover 
.button:focus{
    border: solid;
    border-color: var(--main-blue);
    text-decoration: underline
 }

.color-footer {
    color:  var(--main-white)
}

.footer-background{
    background: var(--background-grey);
}

 .logo2foot {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:  var(--main-white);
    text-decoration: none;
}