:root {
    --font-family: 'Roboto';
    --text-color: #212121;
 }

.background-body-color{#E5E5E5;
}

.mail-underline{ 
font-family: var(--font-family);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: #2196F3;}


.section-header {
    background: #2F303A;    
    }

.index-header{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
}

.index-button {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;  
    background: #2196F3;
    coursor: pointer;
}
.index-button:hoover {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;  
    background: #2196F3;
}
.text-block-header {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-color);
}
.text-block {
    font-family: var(--font-family);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
}

.text-pictures-header1{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--text-color);
}
.text-pictures-header2{
font-family: var(--font-family);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: var(--text-color);
}
.team-names{
font-family: var(--font-family);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
color: var(--text-color);
}
.team-positions {
font-family: var(--font-family);
font-style: normal;
font-size: 16px;
line-height: 1.19;
color: #757575;
}


/* stylowanie Portfolio.html */
body {
    font-family: var(--font-family);, sans-serif;
    list-style-type: none;
  }
  
.bullets {
     list-style: none;
     }
.underline {
    text-decoration: none;
}

.logo1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    text-decoration: none;
 }
 .logo2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000;
    text-decoration: none;
 }
 .text-agencja-underline {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);}

.text-portfolio-underline {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
 }
 .text-kontakty-underline {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
 }
.phone-underline{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;

 }
.mail-underline{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

.button-all{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: #FFFFFF;
    background-color: #2196F3 ;
    border-color: #2196F3;
    coursor: pointer;
    
 }
.button-all:hover 
.button-all:focus{
    border: solid;
    border-color: #2196F3;
}
.button {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: #F5F4FA;
    coursor: pointer;
    }
.button:hover 
.button:focus{
    border: solid;
    border-color: #2196F3;
    text-decoration: underline
 }

.color-footer {
    color: #FFFFFF;}

.footer-background{
    background: #2F303A;
}

 .logo2foot {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFF;
    text-decoration: none;
}